body {
    background-color: #464646;
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    

    }



    .w-container-footer {
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        margin-left: 25%;
        ;
    }

    .back_to_top{
        justify-content:right;
    }


    .myBackround{
       background-image:url(image/)
    }


    