body {
    background-color: #f1f1f1;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    

    }
    #w-container-post{
        padding: 200px;

    }


    .w-container-footer {
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        margin-left: 25%;
        ;
    }
    .back_to_top{
        justify-content:right;
    }


    