.my-content{
    font-family: 'Akaya Telivigala', cursive;
    
    vertical-align: inherit;
}



.my-title{
    font-family: 'Akaya Telivigala', cursive !important;
    text-align: center!important;
}


