
.mycontainer{
    position: relative;
    width: 1270px;
    height: 500px;
    
   }


   .myImage{
       margin: 30px;
       position: relative;
       border-radius: 100%;
       max-width: 200px;
       
   }

   .myText{
       color: blanchedalmond;
   }
   