.myJumbo{
    background-color: transparent;
}


.mycontainer{
    position: relative;
    width: 1000px;
    
   }


   .myImage{
       margin: 30px;
       position: relative;
       border-radius: 100%;
       max-width: 250px;
       
   }

   .myText{
       color: blanchedalmond;
   }
   