.myJumbo{
    background-image: url("../image/pexels-thisisengineering-3861951.jpg");
    background-size: cover;
    
    
}


.mycontainer{
    position: relative;
    width: 1270px;
    height: 720px;
    
   }


   .myImage{
       margin: 30px;
       position: relative;
       border-radius: 100%;
       max-width: 200px;
       
   }

   .myText{
       color: blanchedalmond;
   }
   